.main {
    padding-bottom: 40px;
}

.section {
    padding-top: 40px;
}

.container {
    width: 1280px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.advertisement {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    width: 502px;
}

.text {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 24px;

    color: rgba(28, 32, 36, 0.72);
}

.section {
    margin-bottom: 40px;
}

.List {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Item {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statisticsTitle {
    font-size: 32px;
    line-height: 130%;
    font-weight: 500;

    color: #0f172a;
}

.statisticsText {
    font-size: 14px;
    line-height: 150%;

    color: #0f172a;
}
