.main {
    background-color: #fff;
}

.section {
    margin-bottom: 30px;
}

.advertisement {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    width: 502px;
}

.title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    color: rgba(28, 32, 36, 0.92);
}

.text {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 24px;

    color: rgba(28, 32, 36, 0.72);
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;

    width: 314px;
    height: 48px;

    background: #111113;
}

.button::after {
    content: ">";
}

.statistics,
.courses,
.categories,
.instructors {
    margin-bottom: 40px;
}

.List {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statisticsTitle {
    font-size: 32px;
    line-height: 130%;
    font-weight: 500;

    color: #0f172a;
}

.statisticsText {
    font-size: 14px;
    line-height: 150%;

    color: #0f172a;
}
