.wrapper {
    padding: 24px;
    width: 248px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;

    border: 1px solid var(--scheme-dark-Kelp-Secondary);
}

.img {
    margin-bottom: 24px;
}

.title {
    margin-bottom: 8px;

    font-size: 20px;
    line-height: 24px;

    color: var(--scheme-dark-Kelp-Primary);
}

.text {
    font-size: 14px;
    line-height: 17px;

    color: var(--scheme-dark-Kelp-Tertiary);
}
