.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    width: 400px;
    background-color: #fff;

    border: 1px solid rgba(0, 127, 152, 0.64);
}

.image {
    margin-bottom: 8px;
}

.title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 29px;
    color: #1c2024;
}

.text {
    font-size: 20px;
    line-height: 24px;
    color: rgba(28, 32, 36, 0.72);
}
