.wrapper {
    padding: 24px;
    width: 400px;
    background-color: #fff;

    border: 1px solid var(--scheme-dark-Vista-Primary);
}

.img {
    margin-bottom: 8px;
}

.title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: var(--scheme-dark-Vista-Primary);
}

.text {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: var(--text--color--dark);
}

.price {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: var(--scheme-dark-Vista-Primary);
}
