.wrapper {
    padding: 24px;
    width: 400px;
    background-color: #fff;

    border: 1px solid rgba(73, 88, 198, 0.64);
}

.img {
    margin-bottom: 8px;
}

.title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: rgba(73, 88, 198, 0.96);
}

.text {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: rgba(28, 32, 36, 0.72);
}

.price {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: rgba(73, 88, 198, 0.96);
}
