.container {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 1280px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-bottom: 40px;
}

.flex {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SectionInfo */

.width {
  width: 540px;
}

.text {
  margin-bottom: 20px;
}

/* SectionAdvertisement */

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #0f172a;
}
