.container {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 1280px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-bottom: 40px;
}

.flex {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 24px;
gap: 8px;

width: 314px;
height: 48px;

background: #111113;
border-radius: 24px;
}

.button::after {
  content: ">";
}

.buttonSmall {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 24px;
gap: 8px;

width: 135px;
height: 48px;

background: #111113;
border-radius: 24px;
}

.buttonSmall::after {
  content: ">";
}

/* SectionInfo */

.width {
  width: 540px;
}

.text {
  margin-bottom: 20px;
}

/* SectionAdvertisement */

.title {
  margin-bottom: 8px;

  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;

  color: rgba(28, 32, 36, 0.92);

}
