.section {
  padding-bottom: 40px;
}

.flex {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SectionInfo */

.width {
  width: 540px;
}

.text {
  margin-bottom: 24px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #1d2939;
}
/* SectionAdvertisement */
.textSpan {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #0f172a;
}

/* margin */
.mb8 {
  margin-bottom: 8px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb24 {
  margin-bottom: 24px;
}
