@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(237, 238, 240, 0.82);
  /* background-color: #fff; */
}

p,h3,h4,span,a {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: rgba(28, 32, 36, 0.72);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button,
li,
a,
ul {
  padding: 0;
  margin: 0;
}
