@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(237, 238, 240, 0.82);
  background-color: #18191b;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
