.header {
    width: 100%;
    background-color: rgba(24, 25, 27, 1);
}

.container {
    width: 1280px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.logo,
.form {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 24px;
}

.formWrapper {
    width: 622px;
    padding-left: 14px;
    display: flex;
    align-items: center;
    border: 1px solid #fff;
}

.svgIcon {
    margin-right: 10px;
}

.input {
    background-color: transparent;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    margin-right: 12px;
}

.buttonOne {
    margin-right: 24px;
    padding: 8px 24px;
    width: 97px;
    color: rgba(28, 32, 36, 0.92);
    background: rgba(11, 216, 182, 0.98);
}

.buttonTwo {
    padding: 8px 24px;

    width: 109px;
    color: rgba(28, 32, 36, 0.92);
    background: rgba(158, 177, 255, 0.96);
}
