.wrapper {
  display: flex;
  justify-content: space-between;
}
.info {
  width: 289px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.title {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: rgba(73, 88, 198, 0.96);
}

.text {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(28, 32, 36, 0.72);
}

.price {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(73, 88, 198, 0.96);
}
