.wrapper {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  /* user/card */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;

  width: 400px;
  height: 321px;

  background-color: #f9f9fb;
  border-radius: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  margin-bottom: 24px;
}

.title {
  margin-bottom: 8px;
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 124, 101, 0.98);
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(28, 32, 36, 0.72);
}
